      <li class='list'>
        <%= link_to cars_path(car.id) do %>
          <div class='car-img-content'>
            <%= image_tag(car.image, class: "car-img") %>
          </div>

          <div class='car-info'>
            <h3 class='car-name'>
              <%= car.car_name %>
            </h3>
            <div class='car-price'>
              <span><%= car.price %>円<br><%= car.delivery_fee.name %></span>
              <div class='star-btn'>
                <%= image_tag "star.png", class:"star-icon" %>
                <span class='star-count'>0</span>
              </div>
            </div>
          </div>
        <% end %>
      </li>