<!DOCTYPE HTML>
<html>
  <head>
    <script>
      (function(d) {
      var config = {
        kitId: 'qco7luc',
        scriptTimeout: 3000,
        async: true
      },
      h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
      })(document);
    </script>
    <meta charset="UTF-8">
    <title>Picnicar</title>
  </head>

  <body>
    <div class = "kensaku">
      <div class = "kensaku-filter">
          <%= link_to image_tag("Picnicar.jpeg", class: "top_logo"), root_path %>

        <div class = main_text>
          <h1 class = "text">
            国内No.1キッチンカー検索サイト
          </h1>
        </div>

        <div class = "main-search">
          <ul class = "search_type">
            <li class = "search-list">
              <%= link_to "キーワードから探す", url:root_path, class: "search-keyword" %>
              <%= link_to "都道府県から探す", url:root_path, class: "search-prefecture" %>
              <%= link_to "現在地から探す", url:root_path, class: "search-here" %>
            </li>
          </ul>
        </div>
          
        <div class = "main-form">
          <%#= form_for() do |f| %>
            <form class="search-form" action="#">
              <%#= f.submit :hoge, class:"hoge", id:"hoge", placeholder:"キーワードから探す", maxlength:"30" %>
              <%= link_to image_tag("search-button.png", class: "search-icon"), root_path %>
            </form>
          <%# end %>
        </div>
      </div>
    </div>


    <div class = "main">
      <h2 class = "main-title">あなたの近くにあるキッチンカーたち</h2>
        <ul class = "cars-table">
          <li class = "main-cars">

            <div class = "card">
              <%= link_to image_tag("car1.jpeg", class: "car-icon1"), root_path %>
              <div class = "inner-section">
                <p class = "star1">★3.5</p>
                <p class = "car-name"><%= link_to "car3", url:root_path %>
              </div>
              <p class = "car-summary">テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります</p>
              <p class = "distance"><%= link_to "現在地から150m", url:root_path %>
            </div>

            <div class = "card">
              <%= link_to image_tag("car2.jpeg", class: "car-icon2"), root_path %>
              <div class = "inner-section">
                <p class = "star2">★7.5</p>
                <p class = "car-name"><%= link_to "car3", url:root_path %>
              </div>
              <p class = "car-summary">テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります</p>
              <p class = "distance"><%= link_to "現在地から150m", url:root_path %>
            </div>

            <div class = "card">
              <%= link_to image_tag("car3", class: "car-icon3"), root_path %>
              <div class = "inner-section">
                <p class = "star3">★4.5</p>
                <p class = "car-name"><%= link_to "car3", url:root_path %>
              </div>
              <p class = "car-summary">テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります</p>
              <p class = "distance"><%= link_to "現在地から150m", url:root_path %>
            </div>

            <div class = "card">
              <%= link_to image_tag("viewmore.png", class: "viewmore-icon"), root_path %>
              <%= link_to "もっと見る", url:root_path, class: "viewmore-summary" %>
            </div>

                <%# 下記はコントローラー設定後 %>
                  <%# @picnicars.each do |car|%>
                    <%#= render partial:"car", locals: { car: car } %>
                  <%# end>
                <%# 上記はコントローラー設定後%>

          </li>
        </ul>
    </div>

    <div class = "rank-main">
      <h2 class = "main-title">今週の平均評価ランキング</h2>
        <ul class = "rank-table">
          <li class = "rank-cars">

            <div class = "card">
              <%= link_to image_tag("rank1.jpeg", class: "car-icon"), root_path %>
              <h3><%= link_to "No.１", url:root_path, class: "car-name" %></h3>
              <p class = "car-summary">テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります</p>
              <p class = "popularity" ><%= link_to "堂々の堂安一", url:root_path %></p>
            </div>

            <div class = "card">
              <%= link_to image_tag("rank2.jpeg", class: "car-icon"), root_path %>
              <h3>
              <%= link_to "No.2", url:root_path, class: "car-name" %>
              </h3>
              <p class = "car-summary">テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります</p>
              <p class = "popularity" ><%= link_to "僕は小杉ですヨ。ッとブログ著者田中さんの車", url:root_path %></p>
            </div>

            <div class = "card">
              <%= link_to image_tag("rank3.jpeg", class: "car-icon"), root_path %>
              <h3>
              <%= link_to "No.3", url:root_path, class: "car-name" %>
              </h3>
              <p class = "car-summary">テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります</p>
              <p class = "popularity" ><%= link_to "あのびっくりパン", url:root_path %></p>
            </div>

            <div class = "card">
              <%= link_to image_tag("viewmore.png", class: "viewmore-icon"), root_path %>
              <%= link_to "ランキングをもっと見る", url:root_path, class: "viewmore-summary" %>
            </div>

                <%# 下記はコントローラー設定後 %>
                  <%# @picnicars.each do |car|%>
                    <%#= render partial:"car", locals: { car: car } %>
                  <%# end>
                <%# 上記はコントローラー設定後%>

          </li>
        </ul>
    </div>

    <div class ="pref-main">
      <h2 class = "main-title">都道府県から探す</h2>
        <ul class = "pref-group">
            <li class = "pref-lists"><%= link_to "北海道・東北", url:root_path, class: "pref-list"%></li>
            <li class = "pref-lists"><%= link_to "関東", url:root_path, class: "pref-list"%></li>
            <li class = "pref-lists"><%= link_to "北陸・甲信越", url:root_path, class: "pref-list"%></li>
            <li class = "pref-lists"><%= link_to "東海", url:root_path, class: "pref-list"%></li>
            <li class = "pref-lists"><%= link_to "近畿", url:root_path, class: "pref-list"%></li>
            <li class = "pref-lists"><%= link_to "中国・四国", url:root_path, class: "pref-list"%></li>
            <li class = "pref-lists"><%= link_to "沖縄", url:root_path, class: "pref-list"%></li>
        </ul>
    </div>

  </body>
</html>