<!DOCTYPE HTML>
<html>
  <head>
    <script>
      (function(d) {
      var config = {
        kitId: 'qco7luc',
        scriptTimeout: 3000,
        async: true
      },
      h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
      })(document);
    </script>
    <meta charset="UTF-8">
    <title>Picnicar</title>
  </head>

  <body>
    <div class = "main_top">
      <%= link_to image_tag("Picnicar.jpeg", class: "top_logo"), root_path %>
    </div>

    <div class = main_text>
      <h1 class = "text">
        国内No.1キッチンカー検索サイト
      </h1>
    </div>

    <div class = "main-search">
      <ul class = "search_type">
        <li>キーワードから探す</li>
        <li>都道府県から探す</li>
        <li>現在地から探す</li>
      </ul>
    </div>
      
    <div class = "main-form">
      <%#= form_for() do |f| %>
        <form class="search-form" action="#">
          <%#= f.submit :hoge, class:"hoge", id:"hoge", placeholder:"キーワードから探す", maxlength:"30" %>
          <div class="search-button">
            <%= link_to image_tag("iniini.jpeg", class: "search-icon"), root_path %>
          </div>
          <script src="top.js"></script>
        </form>
      <%# end %>
    </div>

    <div class = "main">
      <h2 class = "main-title">あなたの近くにあるキッチンカーたち</h2>
        <ul class = "cars-table">
          <li class = "main-cars">

            <div class = "card">
              <%= link_to image_tag("iniini.jpeg", class: "car-icon"), root_path %>
              <h3>
                <%= link_to "car１", url:root_path, class: "car-name" %>
              </h3>
              <p class = "car-summary">テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります</p>
              <%= link_to "現在地から150m", url:root_path, class: "distance" %>
            </div>

            <div class = "card">
              <%= link_to image_tag("iniini.jpeg", class: "car-icon"), root_path %>
              <h3>
                <%= link_to "car2", url:root_path, class: "car-name" %>
              </h3>
              <p class = "car-summary">テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります</p>
              <%= link_to "現在地から300m", url:root_path, class: "distance" %>
            </div>

            <div class = "card">
              <%= link_to image_tag("iniini.jpeg", class: "car-icon"), root_path %>
              <h3>
                <%= link_to "car3", url:root_path, class: "car-name" %>
              </h3>
              <p class = "car-summary">テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります</p>
              <%= link_to "現在地から500000km", url:root_path, class: "distance" %>
            </div>

            <div class = "card">
              <%= link_to image_tag("viewmore.png", class: "car-icon1"), root_path %>  
              <%= link_to "viewmore", url:root_path, class: "viewmore" %>
              <p class = "car-summary">もっと見る</p>
            </div>

                <%# 下記はコントローラー設定後 %>
                  <%# @picnicars.each do |car|%>
                    <%#= render partial:"car", locals: { car: car } %>
                  <%# end>
                <%# 上記はコントローラー設定後%>

          </li>
        </ul>
    </div>

  </body>
</html>